@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-container {
    @apply mx-auto  w-11/12 max-w-screen-2xl;
  }

  .error {
    @apply border border-red-500;
  }
}

.ant-btn-default:not(:disabled):hover {
  color: white !important;
}

.particle-connect-wallet-btn {
  background-color: #ff6b00;
  font-weight: 300;
  border-radius: 6px;
  height: 50px;
  width: 151px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

button{
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input {
  outline: none;
  width: 100%;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 7px 14px;
}

textarea {
  outline: none;
  padding: 7px 14px;
  height: 178px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  resize: none;
}

.join-us-bg{
  background-image: url("../image/join.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}


.slick-slide > div {
  margin: 0 10px !important;
}

.slick-list {
  margin: 0 -10px !important;
}

.particle-account-info.particle-chain {
    display: none;
}